/* fonts */
.navbar-brand{
    font-family: 'Verdana';
    color: #FFFFFF;
    padding-left: 9px;
    font-size: 2rem;
}

.navbar-brand:hover{
    font-family: 'Verdana';
    text-decoration: underline;
    padding-left: 9px;
    font-size: 2rem;
}

.navbar-brand:visited{
    font-family: 'Verdana';
    color: #FFFFFF;
    padding-left: 9px;
    font-size: 2rem;
}

h5{
    font-family: 'Verdana';
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: 'Verdana';
    color: #FFFFFF;
}

.disconnectbutton {
    font-family: 'Verdana';
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    margin-left: 9px;
    border-radius: 20px;
    font-size: 1rem;
}

.disconnectbutton:hover {
    font-family: 'Verdana';
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    margin-left: 9px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #8675EF;
}

.disconnectbutton:active {
    font-family: 'Verdana';
    color: #FFFFFF !important;
    border: 3px solid #FFFFFF !important;
    margin-left: 9px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #8675EF;
}

.helpbutton {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
}

.helpbutton:hover {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    background-color: #8675EF;
}

.helpbutton:active {
    color: #FFFFFF !important;
    border: 3px solid #FFFFFF !important;
    border-radius: 50px;
    background-color: #8675EF;
}

.label {
    background-color: #8675EF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12px;
    margin-top: 0;
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* centers anything */
.center {
    text-align: center;
    width: 100%;
}

/* put things on the same line */
.sameline {
    display: inline-block;
}

/* navbar */
.nav1 {
    background-color: #BEADFA;
    padding-bottom: 0;
    padding-top: 50px;
}

.nav2 {
    background-color: #8675EF;
    margin-top: 10px;
    padding-bottom: 5px;
}

/* icon */
i{
    color: #FFFFFF;
}

/* cards */
.card {
    background-color: #BEADFA;
    width: fill;
    margin: 5%;
    border-radius: 0;
    border-width: 5px;
    border-color: #FFFFFF;
    box-shadow: 1px 1px 8px #9a9a9a;
    padding-bottom: 10px;
    border-radius: 20px;

}

/* live monitor */
.livemonitorimg {
    width: 100%;
    padding: 0;
    text-align: center;
    border-radius: 20px;

}

/* music */
.album {
    width: 100px;
    border-radius: 20px;
}

.musicname {
    margin-left: 10px;
    background-color: #8675EF;
    font-family: "Verdana";
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1%;
}

.musiccontrol {
    font-size: 30px;
    width: 50px;
}

/* back track */
.fa-backward {
    margin-right: 10%;
}

.fa-backward:active {
    color: #8675EF;
}

/* pause track */

.fa-pause:active {
    color: #8675EF;
}

.fa-play:active {
    color: #8675EF;
}

/* forward track */
.fa-forward {
    margin-left: 10%;
}

.fa-forward:active {
    color: #8675EF;
}

#volumeslider{
    margin-top: 30px;
    width: 200px;
}

.fa-volume-high{
    margin:5%;
    font-size: 20px;
}

.fa-volume-high:active{
    color: #8675EF;
}

#lightslider{
    width: 200px;
}

.fa-volume-off{
    margin:5%;
    font-size: 20px;
}

.fa-volume-off:active{
    color: #8675EF;
}

.fa-lightbulb{
    margin: 5%;
    font-size: 20px;
}

.fa-lightbulb:active{
    color: yellow;
}

.lockunlockbutton {
    background-color: #8675EF;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 100px;
    margin: 5%;
}

.lockunlock {
    color: white;
    font-size: 50px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: #8675EF;
}

.lockunlock:active {
    color: rgb(184, 184, 184);
    border-color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.unlocked{
    color: rgb(73, 255, 73);
}

.locked{
    color: rgb(255, 72, 72);
}

#live, #live::before {
    z-index: 1;
    position: absolute;
    content: " ";
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s;
    background-color: #FF0055;
    left: 20px;
    top: 10px;
}
  
#live::before {
    animation: animate 2s infinite;
    position: absolute;
    background-color: #ff0000;
    left: 0px;
    top: 0px;
}

@-webkit-keyframes animate {
    50%   {
      transform: scale(2);
      opacity: 0
    }
    100%   {
      transform: scale(2);
      opacity: 0
    }
}

#liveouterdiv {
    position: relative;
}

/* disconnect overlay */
#overlaycontent{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 80%;
    z-index: 1;
}

#disconnectoverlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlaydisconnectbutton {
    background-color: #8675EF;
    color: white;
    border-width: 3px;
    border-color: #8675EF;
    border-style: solid;
    width: 120px;
    display: inline;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 20px;
}

.overlaycancel {
    background-color: #BEADFA;
    color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    width: 120px;
    display: inline;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 20px;
}

@media (max-width: 1028px){

}
